{% extends 'base.html.twig' %}
{% block title %}Pokegame{% endblock %}
{% block body %}
<p class="alert alert-danger">Vous n'avez pas accès à cette page</p>
<a href="{{ path('app_default') }}">Page d'accueil</a>
{% endblock %}
