<footer>
<style>
        footer {
            background-color: #f8f9fa;
            padding: 20px;
            margin-top: auto;
        }

        .footer {
            text-align: center;
            margin-top:30px;
        }
    </style>
  <div class="footer">
    <p>&copy; {{ "now"|date("Y") }} Attrapez-les tous! Tous droits réservés.</p>
  </div>
</footer>