{% extends 'base.html.twig' %}

{% block title %}Présentation{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
    <div class="card" style="width: 80%;margin: auto;margin-top:5%;">
<div class="card-body">
        <h1 class="text-center">Bienvenue dans PokéGame</h1>
        
        <div class="row">
            <div class="col-md-12">
                <p> Une inspiration directe de Pokémon ! </p>
                <p>
                    Pokémon est une franchise créée par Satoshi Tajiri et Ken Sugimori. Elle a été développée par Game Freak et publiée par Nintendo.
                </p>
                <p>
                    Dans l'univers de Pokémon, les joueurs incarnent des dresseurs qui capturent et entraînent des créatures appelées Pokémon. Ils utilisent leurs Pokémon pour combattre d'autres dresseurs et remplir des quêtes afin de devenir les meilleurs dresseurs.
                </p>
                <p>
                    La franchise Pokémon comprend des jeux vidéo, des dessins animés, des films, des jeux de cartes à collectionner et bien plus encore. Elle est devenue l'une des franchises les plus populaires au monde, captivant des millions de fans de tous âges.
                </p>
                <p>
                    Explorez cet incroyable monde de Pokémon et embarquez dans des aventures palpitantes aux côtés de vos Pokémon préférés !
                </p>
                <p> Le projet a été fait par Pascal DU, Kevin TRUONG, Louis BIBAL, Emma CHEN, Tefy Maherison Andrianiraisantsoa</p>
            </div>
        </div>
    </div>
     </div>
{% endblock %}